@{
    ViewBag.Title = "Home Page";
}

<h4>Getting started</h4>
<p>
    ASP.NET MVC 5 testing in example ...
</p>
<p><a class="btn btn-outline-dark" href="https://getbootstrap.com/docs/4.3/examples/dashboard">Used theme &raquo;</a></p>

